<ion-content>
  <ion-card>
    <ion-card-header>VENDOR POLICY</ion-card-header>
    <h5>These terms form a legally binding Policy between 3PL MANAGEMENT INDIA PRIVATE
      LIMITED (herein referred as “The Company”) and DELIVERY ASSOCIATES (herein referred as
      “The Vendors”). These terms shall govern the use of the website, mobile application, call
      centers (collectively referred to as “3PL Application Platform”) which enables the customer
      to connect with the Company in relation to the services offered through the 3PL application
      Platform.</h5>

      <h5>Please read these terms carefully before accessing, using, obtaining, or availing any Services by
        3PL Application Platform. If you do not agree with these terms & conditions, then you may
        refrain from using the 3PL Application Platform. These conditions must be read in conjunction
        with any other applicable terms and conditions governing the use of 3PL Application Platform. </h5>

      <h5>The Company reserves the right to modify these terms of Use at any time through mutual
        understanding with the Vendors. It will be the responsibility of the Vendor to keep themselves
        updated with the terms of use from time to time. The continued usage of the 3PL Application
        Platform would be deemed to be an acceptance of these terms and the modifications by the
        vendors. </h5>

      <ion-item>
        <ion-label>Table of Content</ion-label>
      </ion-item>
       <ul>
        <li>Scope of Services.</li>
          <li>Using the 3PL application platform.</li>
          <li>Terms and Conditions.</li>
          <li>Termination.</li>
          <li>Communication.</li>
          <li>Consideration.</li>
          <li>Sharing Ratio.</li>
          <li>Indemnity.</li>
          <li>Insurance.</li>
          <li>Modification</li>
          <li>Rating.</li>
          <li>Cancellation Policy.</li>
          <li>Shipment Liability.</li>
          <li>Benefits of using 3PL Application platform by the vendors.</li>
          <li>Prohibited goods.</li>
       </ul>

       <ion-item>
        <ion-label>1. SCOPE OF SERVICES: </ion-label>
      </ion-item>
      <h5>The Company through the 3PL Application Platform is desirous of providing the services as per
        agreed terms and to help the Users to avail the Services which shall include but shall not be
        limited to:</h5>

        <ul>
          <li>Transportation Logistics.</li>
          <li>Logistics Services.</li>
          <li>Packaging And Storage of Goods.</li>
          <li>Courier Services.</li>
          <li>Cargo And Transportation Services.</li>
          <li>other ancillary and allied services.</li>
        </ul>

        <ion-item>
          <ion-label>2. USING THE 3PL APPLICATION PLATFORM:</ion-label>
        </ion-item>
        <h5>Please read these terms of Use carefully before using the services offered by the 3PL
          Application Platform. If not agreed with any of these terms of use, the vendor may refrain from
          using the 3PL Application Platform and uninstall the Application. By installing, downloading or
          even merely using the 3PL Application Platform, it shall be considered as deemed acceptance of
          the terms of use and other company policies (including but not limited to the Cancellation &
          Refund Policy, Privacy Policy and Take Down Policy) as posted on the 3PL Application Platform
          and amended from time to time, which takes effect on the date on which you download, install
          or use the 3PL Application Platform, and create a legally binding policy to abide by the same.</h5>

          <h5>The 3PL Application Platform is owned and operated by 3PL MANAGEMENT INDIA PRIVATE
            LIMITED, a company incorporated under the Companies Act, 2013 and having its registered
            office situated at 18-South Tukoganj, Trade Centre, LG-31, Indore MP-452001 IN.</h5>

            <h5>The 3PL Application Platform enables transactions between vendors and customers. The
              customers can choose and place orders from a variety of services listed and offered by various
              vendors including but not limited to the transportation, Logistics and Courier Services etc.
              from the application. </h5>

            <h5>The 3PL Application Platform enables delivery of such orders or completion of tasks at
              selected location of serviceable cities across India by connecting with the Vendor who will be
              responsible for providing the pick-up and delivery services and completing Tasks initiated by
              the users of the Platform. The 3PL Application Platform is merely acting as an intermediary
              between the Vendors and customer.</h5>

          <ion-item>
            <ion-label>3. TERMS AND CONDITIONS: </ion-label>
          </ion-item>
          <h5>The Vendor availing Services through the 3PL application Platform shall be governed by the
            following terms and conditions:</h5>

          <h5><p>(a) Reservation or booking of services: -</p>The process of booking Services from this 3PL
            application Platform may require you to disclose your personal and confidential information.
            To prevent any possibility of unauthorized access to your confidential information such as
            name, address etc., you shall not use/access this site from unsecure computers, unsecure
            communication links and unsecure mobile phones. </h5>

          <h5>The vendor agrees, acknowledges, and confirms that before placing any order on the 3PL
            application Platform, the vendor shall check the service description and price carefully. The
            vendor shall only place the order after fully satisfying themselves with the price, description as
            given on 3PL application Platform. The Company will rely on declarations, confirmations,
            information, and obligations made/undertaken by the vendor in accordance with the terms and
            believing the same to be true will agreed to provide the Services to the vendor. In particular,
            the vendor does hereby agree, promise, declare, confirm, covenant, undertake and represent &
            warrant to the Company that: </h5>

            <ul>
              <li>In the event of detecting any suspicious activity from vendor account, the Company reserves
                the right to cancel all pending and future orders owing to any such incident without any
                liability to the vendor. </li>
              <li>In a credit card transaction; the vendor must use their own credit card for which vendor has
                full right & authority to validly use such credit card for making payment to the Company.</li>
              <li>Using the 3PL application platform to avail the Services shall be deemed that you are fully
                satisfied with the description, and price of the services given on 3PL application Platform. </li>
              <li>The vendor agrees and acknowledge that in the 3PL application Platform all services will be
                offered as may be permitted by the law.</li>
              <li>The vendor shall before accepting each order ensured that the goods or products involved in
                the transaction are permissible by the law or by the Government.</li>
            </ul>

            <h5><p>(b) Payment & Usage Fee: - </p>The vendor hereby agrees and understand that the Company will
              pay the fees for the services provided by the vendor to the users. Once the goods/products are
              delivered by the vendor at the given address, the Company shall make the payment within 7
              days from the date on which vendor will update the delivery status on the 3PL application
              platform in real time manner.</h5>

            <h5>The Company will make the payment to the vendor after deduction of 10% from the total fees
              received from the user. It may be noted that the vendor shall be held liable even after the completion of payment, if
              there is any loss or damage of the goods from Pick-up to delivery</h5>

            <h5><p>(c) Responsibility: -</p>The vendor is requested to kindly take due care of all the goods or
              Products required to be delivered to the customer. The Company and its employees shall not be
              held liable for any loss, theft, or damage of the goods or products done by the vendor. </h5>

            <ion-item>
              <ion-label>4. TERMINATION: -</ion-label>
            </ion-item>
            <h5>In case either party intends to terminate this policy may do so, by giving atleast one Month
              prior notice to the other. This period may, however, be reduced if mutually agreed between the
              Company and the Vendors. During the notice period both parties will cooperate with each
              other. </h5>
            <h5>The Company also reserves the right to terminate the policy Suo-moto or due to breach of any
              terms & conditions by the vendors. </h5>

            <ion-item>
              <ion-label>5. COMMUNICATIONS: -</ion-label>
            </ion-item>
            <h5>When the vendor uses the 3PL Application Platform, they agree and understand that they are
              communicating with the Company through electronic mode, and they give consent to receive
              communications via electronic mode from the Company periodically and as and when
              required. The Company may communicate with the vendors by email or by such other mode of
              communication, electronic or otherwise. </h5>

            <h5>The vendors specifically agree that the Company shall not be responsible for any unauthorized
              access to or alteration of data. Further, the Company will make best efforts to safeguard the
              confidentiality of your personally identifiable information available with it, but transmissions
              made by means of the internet cannot be guaranteed or made secure. By using this 3PL
              Application Platform, the vendor agree that the Company shall not be liable for disclosure of
              their information due to errors in transmission or unauthorized access. </h5>

          <ion-item>
            <ion-label>6. CONSIDERATION: -</ion-label>
          </ion-item>
          <h5>The Company shall pay the agreed consideration to the vendor within a period of 7 days from
            the date on which vendor update the delivery status on the 3PL application platform in real
            time manner.
            The mode of payment may be in cash or in any electronic forms, as may be mutually decided
            between both the parties. </h5>

          <ion-item>
            <ion-label>7. SHARING RATIO: -</ion-label>
          </ion-item>
          <h5>The Consideration received by the Company from the user will be shared between the
            Company and the vendor in the Ratio of 1:9 or as may be mutually decided between both the
            parties. </h5>

          <ion-item>
            <ion-label>8. INDEMNITY: -</ion-label>
          </ion-item>
          <h5>Without prejudice to and in addition to any other remedies, reliefs, or legal recourses available
            to the Company herein or any applicable laws or otherwise, vendor agrees to indemnify, defend
            and hold the Company harmless including but not limited to its affiliate, agents and employees
            from and against any and all losses, liabilities, claims, damages, demands, costs and expenses
            (including legal fees and disbursements in connections therewith and interest chargeable
            thereon) which arise due to the breach of any of the terms and conditions stipulated in the
            policy, or in case of any wrongful information provided by the vendor, or negligence caused by
            the vendor. </h5>

          <ion-item>
            <ion-label>9. INSURANCE: -</ion-label>
          </ion-item>
          <h5>The Company will provide an option to the users of 3PL Application Platform to cover the loss
            or damages, if any, caused due to the negligence or due to happening or non-happening of
            uncertain events in relation with the services provided or delivered or supplied through the
            vendor to the concerned user or customer. </h5>

          <h5>To cover the risk of loss or damage involved in the transactions the Company has signed an
            agreement with Bajaj insurance to provide the insurance to the affected user or customer.
            </h5>

          <h5>It shall be the duty of the vendor to provide reasonable assistance to the customer who has
            opted to insure his/her goods from any liability/loss/damage/negligence which may arise on
            the part of the vendor. In case any anticipated delay or inconvenience arises, it shall be the duty
            of the vendor to inform the customers in advance.</h5>

          <h5>In addition, the vendor shall be responsible for ensuring its customer that the concerned
            transportation vehicle meets the criteria of CERTIFICATE OF FITNESS (COF) check.</h5>

          <ion-item>
            <ion-label>10. MODIFICATION: -</ion-label>
          </ion-item>
          <h5>The Company reserves the right to modify the terms & conditions at any time. The modification
            made shall be in the mutual interest of both the parties for the purpose of completing the
            obligations on the part of either of the parties or to fulfill the pre-requisite conditions to enter
            any contract or to ensure the growth in the development of business for the concerned party. </h5>

        <ion-item>
          <ion-label>11. RATING: -</ion-label>
        </ion-item>
        <h5>THE 3PL Application platform will facilitate the list of vendors based on rating given by the
          users or customers after availing the services through the 3PL application platform. </h5>
        <h5>The delivery vendors undertake the obligation to supply the goods or services ordered or
          demanded by the customer without any modification made therein without the prior approval
          or consent of the concerned customer.</h5>

        <ion-item>
          <ion-label>12. CANCELLATION POLICY: -</ion-label>
        </ion-item>
        <h5>If any order is cancelled by the vendor, then the Vendor shall be liable to compensate the
          affected party or customer with an amount of Rs. 500 or Rs. 1 per kg. whichever is higher. </h5>
        <h5>On the other hand, if the order is cancelled by the customer, then the customer shall be liable
          to compensate the vendor by way of paying an additional charge on its subsequent order made
          through the 3PL application Platform which will be Rs. 500 or Rs. 1 per kg. whichever is
          higher.</h5>

        <ion-item>
          <ion-label>13. SHIPMENT LIABILITY: -</ion-label>
        </ion-item>
        <h5>It shall be the duty of the vendor to take due care of the goods in transit, i.e. from uploading the
          goods for dispatch till the delivery of such goods at their destination. Due to unavoidable
          circumstances if any loss or damage occurs in transit, then the burden of such damage or loss
          of goods shall be borne by the vendor. </h5>

        <ion-item>
          <ion-label>14. BENEFITS OF USING 3PL APPLICATION PLATFORM BY THE VENDORS: -</ion-label>
        </ion-item>
        <ul>
          <li>Digital Marketing.</li>
          <li>Additional Revenue generation.</li>
          <li>Services available in real time manner.</li>
          <li>Payment surety.</li>
          <li>Limited liability</li>
          <li>Ease of access to customers.</li>
          <li>Increasing visibility.</li>
        </ul>

        <ion-item>
          <ion-label>15. PROHIBITED GOODS: -</ion-label>
        </ion-item>
        <h5>The vendor is restrained from supplying of any goods which are prohibited and restricted by
          the government of India for the safety and security of the people of India. The vendor shall not
          supply or deliver any illegal or harmful goods which may cause any kind of threat to human
          and animals’ life. The prohibited goods shall include but not limited to Narcotic drugs, obscene
          goods, firearms, weapons, explosives, antiquities, live or dead animals etc.</h5>

        <h5>In case the vendor is found guilty to deliver or is in possession of any such goods, then the
          policy shall be deemed to be terminated and he shall be held personally liable for such
          wrongful act and misconduct cause against public interest. </h5>

          <!-- <div> -->
            <ion-checkbox type="checkbox" style="margin-top: 10px; margin-left: 12px;" (click)="agree()"></ion-checkbox>
            <p style=" position: relative; top: -37px; left: 42px; margin-bottom: -40px; color: #808080;">
              <span style="font-size: 16px; color: #DB311B;"> I have read Terms & Conditions</span>
            </p>
          <!-- </div> -->

        <ion-button [disabled]="isenabled" (click)="ok()">ok</ion-button>
  </ion-card>
</ion-content>
