.toolbar-background{
  --background: #291670;
}
.toolbar-container{
  --background: #291670 !important;
  color: white;
  font-size: 16px;
}
// ion-input{
//   border: 1px solid #291670;
//   text-align: center !important;
//   font-size:large;
//   border-radius: 10px;
//   color: darkblue;
// }
