<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title style="color: white;" >Pick up Operation</ion-title>
    <!-- <ion-icon name="notifications-outline" slot="end" style="color:white; padding-right: 12px; font-size: 22px;"></ion-icon>
    <ion-avatar slot="end" style="background-color: white; height: 40px; width: 40px;margin-right: 10px;border: 1px solid #DB311B;">
      <img src="../../../assets/icon/user.png">
    </ion-avatar> -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dasboard" style="color: white;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar style="background-color: #291670;" placeholder="Track Here......!"></ion-searchbar>
</ion-header>

<ion-content scroll-y="true">
  <ion-item style="text-align: center;font-size: 20px;color: darkblue;">
    <ion-label>Pick-Up Operation</ion-label>
  </ion-item>

    <ion-row>
      <ion-col style="margin: -10px; margin-top: 0px; margin-left: 0px; margin-right: -2px;">
        <ion-card style="border-radius: 16px; border:1px solid midnightblue;" (click)="gotoPendingPage()">
          <img src="../../../assets/icon/image (9).png" style="height: 60px; margin-left: 50px; margin-top: 16px;">
          <ion-item style="font-size: 16px; color: #291670; text-align: center;">
            <ion-label>Pending Pickup</ion-label>
          </ion-item>
        </ion-card>
        <ion-card style="border-radius: 16px; border:1px solid midnightblue;" (click)="gotoEditPage()">
          <img src="../../../assets/icon/image (11).png" style="height: 60px; margin-left: 50px; margin-top: 16px;">
          <ion-item style="font-size: 16px; color: #291670; text-align: center;">
            <ion-label>Edit Pickup</ion-label>
          </ion-item>
        </ion-card>

        <ion-card style="border-radius: 16px; border:1px solid midnightblue;" (click)="gotoDeletePage()">
          <img src="../../../assets/icon/image (12).png" style="height: 60px; margin-left: 50px; margin-top: 20px;">
          <ion-item style="font-size: 16px; color: #291670; text-align: center;">
            <ion-label>Delete Pickup</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col style="margin: -10px; margin-top: 0px; margin-left: -12px; margin-right: -2px;">
        <ion-card style="border-radius: 20px; border:1px solid midnightblue;" (click)="gotoGeneratePage()">
          <img src="../../../assets/icon/image (10).png" style="height: 60px; margin-left: 50px; margin-top: 20px;">
          <ion-item style="font-size: 16px; color: #291670; text-align: center;">
            <ion-label>Generate PickUp</ion-label>
          </ion-item>
        </ion-card>
        <ion-card style="border-radius: 16px; border:1px solid midnightblue;" (click)="gotoViewPage()">
          <img src="../../../assets/icon/image (13).png" style="height: 60px; margin-left: 50px; margin-top: 16px;">
          <ion-item style="font-size: 16px; color: #291670; text-align: center;">
            <ion-label>View Pickup</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
</ion-content>
<ion-footer collapse="fade">
  <ion-toolbar class="toolbar-container">
    <ion-row style="text-align: center; font-size: 14px;">
      <ion-col style="border-right: 1px solid;" (click)="openDashboard()"><ion-icon name="home"></ion-icon>&nbsp; &nbsp;Home</ion-col>
      <ion-col style="border-right: 1px solid;" (click)="openProfile()"><ion-icon name="person"></ion-icon>&nbsp; &nbsp;Profile</ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>



