<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title style="color: white; font-style: italic; font-weight: bold; font-size: 16px;" >Invoice-Print</ion-title>
    <ion-buttons slot="start" style="color: white;">
      <ion-back-button defaultHref="e-wallet"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="PrintInvoice" class="invoice-box" style="max-width: 800px;margin: auto; padding: 10px;border: 1px solid #eee;box-shadow: 0 0 10px rgba(0, 0, 0, .15);font-size: 16px;line-height: 24px;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;color: #555;">
    <ion-row >
      <ion-col><span style="font-weight: 600; color: black;">Tax Invoice:-</span><br>
        <span style="color: black; font-weight: bold;">Invoice No: INV-219</span><br>
        <span style="color: black; font-weight: bold;">Date: 2023-01-16 18:16:31</span>
      </ion-col>
    </ion-row>

    <!-- <ion-row style="margin-top: 10px;" >
      <ion-col><span style="font-weight: 600; color: black;">BILL FROM:</span><br><br>
        <span style="font-weight: 600;">MARUTI AIR COURIERS</span><br>
        LG 35-A South Tukoganj<br>
        South Tukoganj,Indore<br>
        452001,Madhya Pradesh,IN<br>
        Email: <span style="color: black;">marutiairindore@gmail.com</span>
      </ion-col>
    </ion-row>

  <ion-label style="font-size: large; color: black; padding-left: 20px; padding-bottom: 33px;"> &nbsp; <span><hr class="hr1-class"></span></ion-label> -->

  <ion-row style="margin-top: 10px;" >
    <ion-col style="font-size: 14px;"><span style="font-weight: 600; color: black;">SHIPPING ADDRESS:-</span><br>
      <span style="font-weight: 600;">INDUSIND BANK LTD</span><br>
      MEENAKSHI BUILDING,NEW NO: 141,OLD NO: 57-B,KODAMBAKKAM HIGH ROAD T NAGAR CHENNAI Chennai, Tamil Nadu-600017<br>
      Email: <span style="color: black;">marutiairindore@gmail.com</span>
    </ion-col>
    <ion-col style="font-size: 14px;"><span style="font-weight: 600; color: black;">BILLING ADDRESS:-</span><br>
      <span style="font-weight: 600;">INDUSIND BANK LTD</span><br>
      MEENAKSHI BUILDING,NEW NO: 141,OLD NO: 57-B,KODAMBAKKAM HIGH ROAD T NAGAR CHENNAI Chennai, Tamil Nadu-600017<br>
      Email: <span style="color: black;">marutiairindore@gmail.com</span>
    </ion-col>
  </ion-row>

  <ion-label style="font-size: large; color: black; padding-left: 20px; padding-bottom: 33px;"> &nbsp; <span><hr class="hr1-class"></span></ion-label>

  <ion-row >
    <ion-col style="font-size: 14px;"><span style="font-weight: 600; color: black;">ORDER DETAILS</span><br>
      <span style="color: black; font-weight: bold;">Order Number:</span>  755253543<br>
      <span style="color: black; font-weight: bold;">AWB Number:</span>    160559100009962<br>
      <span style="color: black; font-weight: bold;">Order Date:</span>  2023-01-16 18:16:31
    </ion-col>
  </ion-row>
  <table style="width:100%">
    <tr>
      <th>Book Date</th>
      <th>AWB No</th>
      <th>Order No</th>
      <th>QTY</th>
      <th>Chrg Wt</th>
      <th>Amount</th>
      <th>GST</th>
      <th>Total Amount</th>
    </tr>
    <tr style="text-align: center;">
      <td>Documents</td>
      <td>1238</td>
      <td>1</td>
      <td>1000</td>
      <td>0</td>
      <td>1000</td>
      <td>0</td>
      <td>1000</td>
    </tr>
    <tr style="text-align: center;">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <ion-item style="margin-top: 20px;">
  <ion-label style="font-size: 8px; font-weight: 700;">THIS IS AN AUTO-GENERATED LABEL AND DOESN'T NEED SIGNATURE.</ion-label>
    <img src="../../assets/icon/3pl.png" style="width: 100px;">
  <ion-label  style="font-size: 8px; font-weight: 700; position: absolute; z-index: 101; right: 2rem; top: 20px; color: black;">Powered By:</ion-label>
</ion-item>

</div>
</ion-content>
<ion-footer mode="ios">
  <ion-toolbar id="toolbar-background" (click)="downloadInvoice()" fill="outline">
    <ion-title class="toolbar-title">DOWNLOAD PDF</ion-title>
  </ion-toolbar>
</ion-footer>
