.button-native{
  --background: #291670;
  color: white;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 32px;
  margin-left: 64px;
  margin-right: 64px;
  border-radius: 5px;
  border: 1px solid #DB311B;
}
.error-message {
  padding-left: 76px;
  color: red;
  font-size: 14px;
  padding-top: 5px;
}
