<ion-content >

    <img src="../../../assets/icon/3pl.png" style="padding: 15%; padding-top: 40%;">
    <h5 style="text-align: center; color: #DB311B; font-size: 28px; font-weight: 600;">Welcome to //<span style="color: #291670; font-weight: bolder; font-style: italic;">3PL</span></h5>
    <ion-item style="text-align: center;" lines="none">
      <ion-input type="text" placeholder="Enter Company Name" style="border: 1px solid #291670 ; color:#DB311B; border-radius: 10px; margin-top: 32px;margin-left: 48px;margin-right: 48px;"></ion-input>
    </ion-item>
    <ion-button class="button-native" expand="block" type="submit" (click)="gotoLoginPage()">Proceed</ion-button>

    <ion-row class="ion-padding-top" style="padding-top: 100px;">
      <ion-col class="ion-text-center">
        <ion-label><span>Don't have Company code?</span></ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-top">
      <ion-col class="ion-text-center">
        <ion-label><span (click)="registerHere()" style="font-size: 20px; color: #DB311B;">Register Here!</span></ion-label>
      </ion-col>
    </ion-row>



</ion-content>
