<ion-header style="background: midnightblue;">
  <ion-toolbar class="toolbar-background">
    <ion-title style="color: white;">3PL Help & Support</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dasboard" style="color: white;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="border: 1px solid darkgrey; border-radius: 10px;">
    <ion-item lines="none">
      <ion-label style="font-weight: 600; text-align: center;">Help Desk</ion-label>
    </ion-item>
    <p style="padding: 16px; text-align: justify; margin-top: -16px">
      The 3PL Helpdesk has been provisioned for addressing queries of Shipping all the goods through national courier terminals at Indore, Bengaluru, Mumbai, Delhi, Ahmedabad, Chennai, Cochin, Jaipur , Kolkata and Hyderabad and pan India. If you are not satisfied, please feel free submit your query using link indicated below.
    </p>

    <ion-item lines="none">
      <ion-label style="font-weight: 600; text-align: center;">Contact for Trade/Importers-Exporters</ion-label>
    </ion-item>

    <ion-row style="margin-left: 10px; margin-right: 10px;">
      <ion-col style="border: 1px solid grey; text-align: center; color: black;">Mobile Number</ion-col>
      <ion-col style="border: 1px solid grey; text-align: center; color: black;">+91 9770021051</ion-col>
    </ion-row>

    <ion-row style="margin-left: 10px; margin-right: 10px;">
      <ion-col style="border: 1px solid grey; text-align: center; color: black;">Email-ID</ion-col>
      <ion-col style="border: 1px solid grey; text-align: center; color: black;">support@3pl.com</ion-col>
    </ion-row>

    <ion-row style="margin-bottom: 10px; margin-left: 10px; margin-right: 10px;">
      <ion-col style="border: 1px solid grey;text-align: center; color: black;">Please fill the complete form to submit your query.</ion-col>
      <ion-col style="border: 1px solid grey;text-align: center; color: midnightblue;">Click Here</ion-col>
    </ion-row>

  </ion-card>
</ion-content>
