<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title style="color: white;" >About 3PL</ion-title>
      <ion-buttons slot="start">
      <ion-back-button defaultHref="dasboard" style="color: white;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="border: 1px solid midnightblue; border-radius: 16px;">
    <img src="../../../assets/icon.png">
    <p style="margin: 16px; font-weight: bold;">The 3PL Application Platform is owned and operated by <span style="color: red;" >3PL MANAGEMENT INDIA PRIVATE LIMITED</span> a company incorporated on 27th September 2021 under the Companies Act, 2013 and having its registered office situated at 18-South Tukoganj, Trade Centre, LG-31, Indore MP-452001 IN. Mr. Mukeh Jat and Mrs. Sanju Devi are the directors of the Company.</p>
    <p style="margin: 16px; font-weight: bold;">The 3PL Application Platform enables transactions between vendors and customers. The customers can choose and place orders from a variety of services listed and offered by various vendors including but not limited to the transportation, Logistics and Courier Services etc. from the application.</p>
    <p style="margin: 16px; font-weight: bold;">The 3PL Application Platform enables delivery of such orders or completion of tasks at selected location of serviceable cities across India by connecting with the Vendor who will be responsible for providing the pick-up and delivery services and completing Tasks initiated by the customer of the Platform. The 3PL Application Platform is merely acting as an intermediary between the Vendors and customer.</p>
    <p style="margin: 16px; font-weight: bold; text-align: center;">For more details visit our website</p>
    <p style="margin: 16px; font-weight: bold; text-align: center;"><a style="color: midnightblue;" href="https://3plindia.com">https://3plindia.com</a></p>
  </ion-card>
</ion-content>
