.button-native1{
  --background: red !important;
  --border-radius: 20px !important;
}
.button-native{
  --background: green !important;
  --border-radius: 20px !important;
}
ion-input{
  border: 1px solid darkblue ;
  padding-left: 16px !important;
  border-radius: 5px;
}


