.toolbar-background{
  --background: #291670;
}
.toolbar-container{
  --background: #291670 !important;
  color: white;
  font-size: 16px;
}
.headerh5{
  font-size: 16px;
  color: white;
  padding-left: 22px;
  font-weight: 600;
}

.item-native{
  --border-radius: 10px;
}
.ng-select-container{
  --border-radius: 10px !important;
}
.button-native{
  --border-radius: 10px !important;
}

.cardh5{
  margin-top: -16px;
  padding-left: 16px;
  color: #DB311B;
  font-size: 15px;
}




