<ion-header style="background: midnightblue;">
  <ion-toolbar class="toolbar-background">
    <ion-title style="color: white;">3PL FAQs</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dasboard" style="color: white;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="border: 1px solid darkgrey; border-radius: 10px;">
  <ion-item lines="none">
    <ion-label style="font-weight: 600;"> Q1. Where can you deliver a shipment?</ion-label>
  </ion-item>
  <p style="padding: 16px; text-align: justify; margin-top: -16px">
    Answer: 3PL Management India Pvt Ltd can pick-up and deliver the same next day across India and rest of the world, further points are available as well.
  </p>

  <ion-item lines="none">
    <span style="font-size: 16px; text-align:justify; font-weight: 600;"> Q2. Can 3PL Management India Pvt Ltd do same day pick-up and delivery?</span>
  </ion-item>
  <p style="padding: 16px; margin-top: -16px; text-align: justify;">
    Answer: Expedited service is what 3PL Management India Pvt Ltd specializes in. Same day, or faster with direct delivery and exclusive services available.
  </p>

  <ion-item lines="none">
    <span style="font-size: 16px; text-align:justify;font-weight: 600;"> Q3. What are your working hours?</span>
  </ion-item>
  <p style="padding: 16px; margin-top: -16px; text-align: justify;">
    Answer: Office/Dispatch Hours: Mon.-Fri. 10:00 a.m.-6:30 p.m. Operational personnel are available 24 hours per day 7 days per week.
    Warehouse Hours: Mon.-Fri. 10:00 a.m.-5:30 p.m. with earlier or later hours available by appointment when needed.
    Delivery days: 24 hours / 6 days/ 365 days per year
  </p>

  <ion-item lines="none">
    <span style="font-size: 16px; text-align:justify;font-weight: 600;">Q4. How much days 3pl will take to deliver shipment?</span>
  </ion-item>
  <p style="padding: 16px; margin-top: -16px; text-align: justify;">
    Answer: Time and days will be shown on our application at the time of booking the shipment.
  </p>

  <ion-item lines="none">
    <span style="font-size: 16px; text-align:justify;font-weight: 600;">Q5. How you can track your shipment?</span>
  </ion-item>
  <p style="padding: 16px; margin-top: -16px; text-align: justify;">
    Answer: We have our tracking on our application where you can track with your parcel ID.
  </p>

  <ion-item lines="none">
    <span style="font-size: 16px; text-align:justify;font-weight: 600;">Q6. What if parcel is not delivered?</span>
  </ion-item>
  <p style="padding: 16px; margin-top: -16px; text-align: justify;">
    Answer: Your Vender will be the responsible for that Or you can call or mail on 3pl support.
  </p>

  <ion-item lines="none">
    <span style="font-size: 16px; text-align:justify;font-weight: 600;">Q7. Is it necessary to insure the cargo?</span>
  </ion-item>
  <p style="padding: 16px; margin-top: -16px; text-align: justify;">
    Answer: According to 3pl insurance is not mandatory, but can be useful and we highly recommend it. 3rd party insurance cover any cargo damage in any instance. Cost of the insurance can very between 100% from the declared invoice value as per company norms.
  </p>

  <ion-item lines="none">
    <span style="font-size: 16px; text-align:justify;font-weight: 600;">Q8. IWhat if parcel is damaged?</span>
  </ion-item>
  <p style="padding: 16px; margin-top: -16px; text-align: justify;">
    Answer: 3pl is not responsible for any damage but if your parcel is having insurance then insurance company will pay for the damage and if the parcel is not insured then you must to coordinate with your vendor.
  </p>


  <ion-item lines="none">
    <span style="font-size: 16px; text-align:justify;font-weight: 600;">Q9. Can you guarantee exact delivery date?</span>
  </ion-item>
  <p style="padding: 16px; margin-top: -16px; text-align: justify;">
    Answer: We can give you the approximate delivery date. Sometimes customs inspections, weather conditions can cause delays. We cannot guarantee the exact delivery date.
  </p>

  <ion-item lines="none">
    <span style="font-size: 16px; text-align:justify;font-weight: 600;">Q10. Is there any cost for signing up to 3pl?</span>
  </ion-item>
  <p style="padding: 16px; margin-top: -16px; text-align: justify;">
    Answer: Signing up and using the 3pl platform is free and no charges will be made until a booking has been placed.
  </p>

  <ion-item lines="none">
    <span style="font-size: 16px; text-align:justify;font-weight: 600;">Q11. What forms of payment are acceptable?</span>
  </ion-item>
  <p style="padding: 16px; margin-top: -16px; text-align: justify;">
    Answer: We accept, bank draft, cash, e-transfer, direct deposits, wires, and Visa/Master card.
  </p>

  <ion-item lines="none">
    <span style="font-size: 16px; text-align:justify;font-weight: 600;">Q12. What services do you offer?</span>
  </ion-item>
  <p style="padding: 16px; margin-top: -16px; text-align: justify;">
    Answer: We provide-- <br>
    Free Consultation--<br>
    Free Estimates--<br>
    Consulting on the best mode of transport for your shipment depending on budget or time – Warehouse and Storage Service if you need to store goods here before shipping – Pick-Up Services, Crating, and Pick-and-Pack services for commercial clients
</p>
</ion-card>
</ion-content>
