<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-title style="color: white;" >Delete Employee..!!</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="employee" style="color: white;"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar style="background-color: #291670;" placeholder="Track Here......!"></ion-searchbar>
</ion-header>

<ion-content>
  <ion-card style="border: 1px solid navajowhite; border-radius: 12px;" (click)="removeItem(item)" *ngFor="let item of employeeData">
    <ion-row  style="background: whitesmoke; font-size: 16px; font-weight: 500;">
      <ion-col style="color: #DB311B; padding-left: 30px; ">Name</ion-col>
      <ion-col style="color: darkblue; ">{{item.EmployeeName | uppercase}}</ion-col>
    </ion-row>
    <ion-row style="font-size: 16px; font-weight: 500;" >
      <ion-col style="color: #DB311B; padding-left: 30px; ">Mobile No</ion-col>
      <ion-col style="color: darkblue;">{{item.EmployeePhone}}</ion-col>
    </ion-row>
    <ion-row style="background: whitesmoke; font-size: 16px; font-weight: 500;" >
      <ion-col style="color: #DB311B; padding-left: 30px; ">Location Name</ion-col>
      <ion-col style="color: darkblue;">{{item.EmployeeDestination | uppercase}}</ion-col>
    </ion-row>
    <ion-row style="font-size: 16px; font-weight: 500;" >
      <ion-col style="color: #DB311B; padding-left: 30px; ">User Name</ion-col>
      <ion-col style="color: darkblue;">{{item.Username}}</ion-col>
    </ion-row>
    <ion-row style="background: whitesmoke; font-size: 16px; font-weight: 500;" >
      <ion-col style="color: #DB311B; padding-left: 30px;">Password</ion-col>
      <ion-col style="color: darkblue;">{{item.Password}}</ion-col>
    </ion-row>
  </ion-card>
</ion-content>
